<section class="contacts-section">
  <div class="l-container">
    <h2>Оставайтесь с нами</h2>
    <p class="description">Мы обеспечиваем качество & поддержку</p>
    <form action="" class="contact-form">
      <input type="text" name="name" placeholder="Полное имя">
      <input type="text" name="email" placeholder="E-mail">
      <textarea name="message" rows="8" cols="80" placeholder="Сообщение"></textarea>
      <label class="contact-form__subscribe-label pull-left">
        <input type="checkbox" name="subscribe" class="contact-form__subscribe-checkbox">
        Подписаться на рассылку
      </label>
      <button class="button contact-form__send-button">Отправить</button>
    </form>
  </div>
</section>
