<footer class="l-footer">
  <div class="l-container">
    <span class="copyright">© 2016, STRICT</span>
    <ul class="socials">
      <li class="socials__item"><a href="#" class="socials__link"><i class="icon icon-fb"></i></a></li>
      <li class="socials__item">
        <a href="#" class="socials__link"><i class="icon icon-tw"></i></a>
      </li>
      <li class="socials__item">
        <a href="#" class="socials__link"><i class="icon icon-gp"></i></a>
      </li>
      <li class="socials__item">
        <a href="#" class="socials__link"><i class="icon icon-li"></i></a>
      </li>
    </ul>
  </div>
</footer>
