<section class="portfolio-section">
  <div class="l-container">
    <h2>Демонстрируйте свои работы как про</h2>
    <p class="description">Свяжитесь со мной если вам понравились мои работы</p>
    <ul class="portfolio">
      <li class="portfolio__item">
        <ul class="porftlio-controls">
          <li class="porftlio-controls__item">
            <a class="porftlio-controls__zoom-in" href="images/portfolio/photo1.jpg">
              <i class="icon icon-magnifier"></i>
            </a>
          </li>
          <li class="porftlio-controls__item">
            <a href="#" class="porftlio-controls__link">
              <i class="icon icon-chain"></i>
            </a>
          </li>
        </ul>
        <img src="images/portfolio/photo1.jpg" alt="Работа 1">
      </li>
      <li class="portfolio__item">
        <ul class="porftlio-controls">
          <li class="porftlio-controls__item">
            <a class="porftlio-controls__zoom-in" href="images/portfolio/photo2.jpg">
              <i class="icon icon-magnifier"></i>
            </a>
          </li>
          <li class="porftlio-controls__item">
            <a href="#" class="porftlio-controls__link">
              <i class="icon icon-chain"></i>
            </a>
          </li>
        </ul>
        <img src="images/portfolio/photo2.jpg" alt="Работа 2">
      </li>
      <li class="portfolio__item">
        <ul class="porftlio-controls">
          <li class="porftlio-controls__item">
            <a class="porftlio-controls__zoom-in" href="images/portfolio/photo3.jpg">
              <i class="icon icon-magnifier"></i>
            </a>
          </li>
          <li class="porftlio-controls__item">
            <a href="#" class="porftlio-controls__link">
              <i class="icon icon-chain"></i>
            </a>
          </li>
        </ul>
        <img src="images/portfolio/photo3.jpg" alt="Работа 3">
      </li>
      <li class="portfolio__item">
        <ul class="porftlio-controls">
          <li class="porftlio-controls__item">
            <a class="porftlio-controls__zoom-in" href="images/portfolio/photo4.jpg">
              <i class="icon icon-magnifier"></i>
            </a>
          </li>
          <li class="porftlio-controls__item">
            <a href="#" class="porftlio-controls__link">
              <i class="icon icon-chain"></i>
            </a>
          </li>
        </ul>
        <img src="images/portfolio/photo4.jpg" alt="Работа 4">
      </li>
      <li class="portfolio__item">
        <ul class="porftlio-controls">
          <li class="porftlio-controls__item">
            <a class="porftlio-controls__zoom-in" href="images/portfolio/photo5.jpg">
              <i class="icon icon-magnifier"></i>
            </a>
          </li>
          <li class="porftlio-controls__item">
            <a href="#" class="porftlio-controls__link">
              <i class="icon icon-chain"></i>
            </a>
          </li>
        </ul>
        <img src="images/portfolio/photo5.jpg" alt="Работа 5">
      </li>
      <li class="portfolio__item">
        <ul class="porftlio-controls">
          <li class="porftlio-controls__item">
            <a class="porftlio-controls__zoom-in" href="images/portfolio/photo6.jpg">
              <i class="icon icon-magnifier"></i>
            </a>
          </li>
          <li class="porftlio-controls__item">
            <a href="#" class="porftlio-controls__link">
              <i class="icon icon-chain"></i>
            </a>
          </li>
        </ul>
        <img src="images/portfolio/photo6.jpg" alt="Работа 6">
      </li>
    </ul>
  </div>
</section>
