.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 800px;
  background: url(../images/hero.jpg) no-repeat center;
  background-size: cover;
  text-align: center;


  h1 {
    display: inline-block;
    margin: 0 0 30px 0;
    padding: 0 15%;
    border-bottom: 2px solid $main-color;
    font-size: 120px;
    font-family: LatoBold;
    color: #fff;
    text-transform: uppercase;
  }

  .description {
    margin: 40px 0 60px 0;
    color: #fff;
  }
}

@media only screen and (max-width : 767px) {
  .hero-section {
    height: 400px;

    h1 {
      padding: 0 10%;
      font-size: 80px;
    }

    .description {
      margin: 20px 0 30px 0;
    }
  }
}

@media only screen and (max-width: 479px) {
  .hero-section {
    height: 300px;

    h1 {
      margin: 0 0 15px 0;
      font-size: 50px;
    }

    .description {
      margin: 10px 0 15px 0;
    }
  }
}
